.booking-form {

  &__step {
    padding-top: 50px;
    padding-bottom: 50px;
  }
  &__step:nth-child(2n+1) {
    background-color: @grey-form;
  }
  &__step-number {
    text-transform: uppercase;
    font-size: @font-size-small;
    font-weight: normal;
    color: @grey;
    text-align: center;
  }
  &__title {
    text-align: center;
    font-size: 26px;
    font-weight: normal;
    color: @grey-darkest;
    margin-top: 14px;
    margin-bottom: 36px;
  }

// step1
  &__calendar {
    display: flex;
    flex-direction: column;
  }
  &__date {
    text-align: center;
    font-size: @font-size-small;
    text-transform: uppercase;
    line-height: 1.125em;
    color: #575757;
  }

  &__date {
    margin: auto;
    margin-bottom: 40px;
  }
  &__date-wrapper {
    margin-top: 18px;
  }
  &__date-number {
    display: inline-block;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
    width: 56px;
    border: none;
    font-size: @font-size-small;
    text-transform: uppercase;
  }
  @media (min-width: @screen-sm) and (max-width: @max-tablet){
    &__calendar {
      width: 380px;
      margin: 0 auto;
      flex-direction: row;
    }
  }
  @media (min-width: @screen-md){
    &__calendar {
      width: 380px;
      margin: 0 auto;
      flex-direction: row;
    }
  }

// step2
  &__inner{
    display: flex;
    margin: 0 auto;
    width: 280px;
    height: 160px;
    border: 1px solid @grey-lighten;
  }
  &__place {
    width: 50%;
  }
  &__place .label {
    position: relative;
    text-align: center;
    font-size: @font-size-small;
    color: @grey-darken;
    text-transform: uppercase;
    margin-top: 28px;
  }
  &__place input {
    display: none;
  }
  &__place input:checked + .label {
    opacity: 1;
      &:after {

    }
  }
  &__place .label {
    display: block;
    opacity: 0.5;
    &:after {
      
    }
  }
  &__place  .place-hotel:after {
      position: absolute;
      content: '';
      display: block;
      width: 82px;
      height: 64px;
      // background-image: url('../img/form_hotel.svg');
      background-image: url('../img/hotel.png');
      background-repeat: no-repeat;
      background-size: 100%;
      top: 28px;
      left: 25px;
  }
  &__place  .place-cottage:after {
      position: absolute;
      content: '';
      display: block;
      width: 80px;
      height: 62px;
      // background-image: url('../img/form_cottage.svg');
      background-image: url('../img/cottage.png');
      background-repeat: no-repeat;
      background-size: 100%;
      top: 28px;
      left: 28px;
  }

// step3
  &__cottage-types {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 0 auto;
    text-align: center;
    margin-top: 20px;
    background-color: @white;
    border: 1px solid @grey-lighten;
    padding-top: 46px;

    input {
      display: none;
    }
  }
   // &__cottage-types input {
   //  display: none;
   // }
  &__cottage-type {
    max-width: 280px;
    margin: 0 auto;
    margin-bottom: 38px;
    color: @grey;
    text-transform: uppercase;
    font-size: @font-size-small;
    font-weight: 500;
    cursor: pointer;
  }

  &__cottage-type--active {
    position: relative;
    color: @grey-darkest;
  }
  &__cottage-type--active:before {
    content: '';
    display: block;
    position: absolute;
    width: 10px;
    height: 6px;
    border-left: 4px solid @green-base;
    border-bottom: 4px solid @green-base;
    transform: rotate(310deg);
    left: -50px;
    top: 0px;
  }
  &__cottage-options {
    display: none;
    width: @screen-sm;
    margin: 0 auto;
    border: 1px solid @grey-lighten;
  }
  // &__cottage-options--active {
  //   display: none;
  // }

  #flagman:checked ~ .booking-form__cottage--flagman {
    display: block;
  }
  #ozerny:checked ~ .booking-form__cottage--ozerny {
    display: block;
  }
  #portovy:checked ~ .booking-form__cottage--portovy {
    display: block;
  }
  #olchovka:checked ~ .booking-form__cottage--olchovka {
    display: block;
  }

  &__cottage-options-list {
      display: flex;
      justify-content: center;

      li {
        position: relative;
        width: 20%;
        text-align: center;
        list-style-type: none;
        text-transform: uppercase;
        font-weight: 500;
        color: @grey-darkest;
        font-size: @font-size-small;
      }
  }
  // &__cottage-options-list li {
  //   position: relative;
  //   width: 20%;
  //   text-align: center;
  //   list-style-type: none;
  //   text-transform: uppercase;
  //   font-weight: 500;
  //   color: @grey-darkest;
  //   font-size: @font-size-small;
  // }
  &__option-squad:before {
      content: '';
      position: absolute;
      background-image: url('../img/formsprite.png');
      background-position: -179px 0;
      width: 45px;
      height: 45px;
      bottom: 50px;
      left: 37%;
    }
    &__option-door:before {
      content: '';
      position: absolute;
      text-align: center;
      background-image: url('../img/formsprite.png');
      background-position: -229px 0;
      width: 27px;
      height: 43px;
      bottom: 50px;
      left: 41%;
    }
    &__option-bed:before {
      content: '';
      position: absolute;
      background-image: url('../img/formsprite.png');
      background-position: 0 0;
      width: 55px;
      height: 43px;
      bottom: 50px;
      left: 33%;
    }
    &__option-bath:before {
      content: '';
      position: absolute;
      background-image: url('../img/formsprite.png');
      background-position: -63px 0;
      width: 52px;
      height: 28px;
      bottom: 50px;
      left: 36%;
    }
    &__option-wi-fi:before {
      content: '';
      position: absolute;
      background-image: url('../img/formsprite.png');
      background-position: -125px 0;
      width: 50px;
      height: 42px;
      bottom: 50px;
      left: 36%;
    }
   @media (min-width: @screen-sm) and (max-width: @max-tablet){
    &__cottage-types {
      width: @screen-sm;
      flex-direction: row;
      justify-content: center;
      padding-top: 45px;
      padding-bottom: 20px;
    }
    &__cottage-type {
      width: 25%;
    }
    &__cottage-type--active:before {
      left: 88px;
      top: 28px;
    }
    // &__cottage-options--active {
    //   display: block;
    //   padding-top: 85px;
    //   padding-bottom: 25px;
    //   margin-top: 20px;
    //   background-color: @white;
    // }
  }
  @media (min-width: @screen-md){
    &__cottage-types {
      width: @screen-sm;
      flex-direction: row;
      justify-content: center;
      padding-top: 45px;
      padding-bottom: 20px;
    }
    &__cottage-type {
      width: 25%;
    }
    // &__cottage-options--active {
    //   display: block;
    //   padding-top: 85px;
    //   padding-bottom: 25px;
    //   margin-top: 20px;
    //   background-color: @white;
    // }
  }


// step4
  &__personal-info {
    width: 280px;
    margin: 0 auto;
    padding-left: 20px;
    padding-right: 20px;

    span {
    font-size: @font-size-small;
    color: @grey-darken;
    }

    input {
      display: inline-flex;
      width: 280px;
      height: 50px;
      border: 1px solid @grey-lighten;
      text-align: center;
      font-size: @font-size-small;
      text-transform: uppercase;
      margin-bottom: 20px;
    }
  }

  @media (min-width: @screen-sm) and (max-width: @max-tablet){
    &__personal-info {
      width: 732px;
      margin: 0 auto;
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: space-between;

      input {
        width: 335px;
      }

      span {
        display: block;
        width: 300px;
      }
    }
  }
  @media (min-width: @screen-md){
    &__personal-info {
      width: 732px;
      margin: 0 auto;
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: space-between;

      input {
        width: 335px;
      }

      span {
        display: block;
        width: 330px;
      }
    }
  }



// step5
  &__payment-item {
    min-width: 320px;
    background-color: @white;
    padding-top: 23px;
    padding-bottom: 23px;
    margin-bottom: 20px;
    border: 1px solid @grey-lighten;
      span {
        display: none;
      }
      label {
        text-transform: uppercase;
        font-size: @font-size-small;
        font-weight: 500;
        color: @grey-darken;
      }
  }
  &__radio-wrapper-flex {
   
    width: 280px;
    margin: 0 auto;
    padding-bottom: 20px;
  }
  &__radio-wrapper-flex input{
    display: none;
  }
  &__payment-item {
    position: relative;
  }
  &__payment-item--active {
    &:before{
      content: '';
      position: absolute;
      width: 10px;
      height: 6px;
      border-left: 4px solid @green-base;
      border-bottom: 4px solid @green-base;
      transform: rotate(310deg);
      left: 39px;
      top: 22px;
    }
  }
  &__payment-type-flex {
    width: 280px;
    margin: 0 auto;
  }
  &__payment-type-flex label {
    font-size: @font-size-small;
    text-transform: uppercase;
    font-weight: 400;
    color: @grey-darken;
  }
  &__payment-type-flex input {
    width: 280px;
    height: 50px;
    border: 1px solid @grey-lighten;
    text-align: center;
    font-size: @font-size-small;
    text-transform: uppercase;
    margin-top: 15px;
    margin-bottom: 20px;
  }
  &__payment-sum {
    min-width: 320px;
    background-color: @white;
    border: 1px solid @grey-lighten;
    padding-top: 25px;
    padding-bottom: 23px;
    text-align: center;
      h3{
        font-family: @font-family;
        font-weight: 400;
        text-transform: uppercase;
        font-size: @font-size-small;
        color: @grey-darken;
      }
      p{
        font-size: @font-size-small;
        color: @grey-darken;
        font-weight: 400;
        
      }
      a{
        color: @grey-darken;
        text-decoration: none;
        border-bottom: 1px dashed @grey-darken;
      }
  }
  &__payment-sum-date{
    text-align: left;
    padding-left: 35px;
    padding-right: 35px;
  }
  @media (min-width: @screen-sm) and (max-width: @max-tablet){
    &__flex-wrapper {
      width: @screen-sm;
      margin: 0 auto;
      display: flex;
      flex-direction: row-reverse;
    }
    &__payment-info {
      display: block;
      flex-basis: 70%;
      color: @grey-darken;
      font-size: @font-size-small;
      font-weight: normal;
      text-transform: none;
    }
    &__payment-type {
      flex-basis: 64%;
    }
    &__payment-item {
      border: 1px solid @grey-lighten;
    }
    &__payment-item:last-child {
      margin-bottom: 0px;
    }
    &__radio-wrapper-flex {

      display: flex;
      align-items: baseline;
    }
  
    &__payment-type-item{
      display: flex;
      justify-content: center;
    }
    &__payment-type-flex {
      width: 100%;
      margin: 0 15px;
        input {
          width: 250px;
        }
    }
    &__payment-type-flex:last-child input{
       width: 100px;
    }
    &__payment-sum {
      flex-basis: 36%;
      margin-right: 18px;
      padding-bottom: 0;
      border: 1px solid @grey-lighten;
    }
  }
  @media (min-width: @screen-md){
    &__flex-wrapper {
      width: @screen-sm;
      margin: 0 auto;
      display: flex;
      flex-direction: row-reverse;
    }
    &__payment-info {
      display: block;
      flex-basis: 70%;
      color: @grey-darken;
      font-size: @font-size-small;
      font-weight: normal;
      text-transform: none;
    }
    &__payment-type {
      flex-basis: 64%;
    }
    &__payment-item {
      border: 1px solid @grey-lighten;
    }
    &__radio-wrapper-flex {
      display: flex;
      align-items: baseline;
    }
    &__radio-wrapper-flex label {
      flex-basis: 30%;
    }
    &__payment-type-item{
      display: flex;
      justify-content: center;
    }
    &__payment-type-flex {
      width: 100%;
      margin: 0 15px;
        input {
          width: 250px;
        }
    }
    &__payment-type-flex:last-child input{
       width: 100px;
    }
    &__payment-sum {
      flex-basis: 36%;
      margin-right: 18px;
      padding-bottom: 0;
      border: 1px solid @grey-lighten;
    }
  }

  &__payment-btn {
    width: 280px;
    margin: 0 auto;
    margin-top: 50px;
      a {
        display: block;
      }
  }
  @media (min-width: @screen-sm) and (max-width: @max-tablet){
    &__payment-btn {
    width: @screen-sm;
    
   }
  }
  @media (min-width: @screen-md){
    &__payment-btn {
    width: @screen-sm;
    
   }
  }

}